* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

div {
    padding: 10px;
    min-height: 150px;
    background: greenyellow;

}

.col {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

.col-1 {
    max-width: 75%;
    flex-basis: 75%;
}

.col-2 {
    max-width: 25%;
    flex-basis: 25%;

}

.col-3 {
    max-width: 50%;
    flex-basis: 50%;
}

.col-4 {
    max-width: 100%;
    flex-basis: 100%;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.pink {
    background: deeppink;
}

@media (max-width: 540px) {
    .col-1 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col-2 {
        max-width: 100%;
        flex-basis: 100%;

    }

    .col-3 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .col-4 {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media only screen and (orientation: portrait) {
    div {
        min-height: 400px;
    }
}

@media only screen and (orientation: landscape) {
    div {
        min-height: 150px;
    }
}

